* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
}
.container {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 57.6rem;
  border-radius: 1.1rem;
  background-color: #fff;
  overflow: hidden;
}

.card-image {
  display: inline-block;
  background-image: url("./images/image-product-desktop.jpg");
  background-size: cover;
  height: 100%;
}

.card-content {
  padding: 2.4rem;
  font-weight: 500;
}

.card-subheading {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: hsl(228, 12%, 48%);
  margin-bottom: 2.4rem;
}

.card-heading {
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.01px;
  color: hsl(212, 21%, 14%);
  margin-bottom: 1.8rem;
}

.description {
  font-size: 1.4rem;
  color: hsl(228, 12%, 48%);
  margin-bottom: 3.2rem;
  line-height: 1.8;
}

.price {
  display: flex;
  font-family: "Fraunces", serif;
  font-size: 3.6rem;
  color: hsl(158, 36%, 37%);

  margin-bottom: 3.2rem;
}

.compare-price {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  align-self: center;
  margin-left: 1.6rem;
}

a:link,
a:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.4rem;
  background-color: hsl(158, 36%, 37%);
  color: white;
  padding: 1.6rem 3.2rem;
  border-radius: 0.9rem;
  margin-bottom: 1.2rem;
}

a:hover,
a:active {
  background-color: hsl(158, 36%, 22%);
}

.icon {
  margin-right: 1rem;
}

@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
  .container {
    display: flex;
    width: 100%;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 2rem;
  }

  .card-image {
    display: inline-block;
    background-image: url("./images/image-product-mobile.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  .card-subheading {
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
  }

  .card-heading {
    font-size: 3.8rem;
  }

  .description {
    font-size: 1.7rem;
  }
  .price {
    margin-bottom: 2.4rem;
  }
  a:link,
  a:visited {
    margin-bottom: 0;
  }
}
